/* Global App CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F0F0F;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}
